Day-28/jboss-as-7.1.1.Final/standalone/data/wsdl/CalcWebService.war/CalcWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CalcWSService" targetNamespace="http://ws.srivastava.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.srivastava.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.srivastava.com/" version="1.0" xmlns:tns="http://ws.srivastava.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="add" type="tns:add"/>
<xs:element name="addResponse" type="tns:addResponse"/>
<xs:element name="subtract" type="tns:subtract"/>
<xs:element name="subtractResponse" type="tns:subtractResponse"/>
<xs:complexType name="add">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="subtract">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="subtractResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="subtract">
    <wsdl:part element="tns:subtract" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="subtractResponse">
    <wsdl:part element="tns:subtractResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalcWS">
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
    </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:input message="tns:subtract" name="subtract">
    </wsdl:input>
      <wsdl:output message="tns:subtractResponse" name="subtractResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcWSServiceSoapBinding" type="tns:CalcWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="subtract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="subtractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcWSService">
    <wsdl:port binding="tns:CalcWSServiceSoapBinding" name="CalcWSPort">
      <soap:address location="http://localhost:8080/CalcWebService/CalcWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>