Day-28/jboss-as-7.1.1.Final/standalone/data/wsdl/CalcWebService.war/PersonWebServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PersonWebServiceService" targetNamespace="http://ws.srivastava.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.srivastava.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.srivastava.com/" version="1.0" xmlns:tns="http://ws.srivastava.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getPersons" type="tns:getPersons"/>
<xs:element name="getPersonsResponse" type="tns:getPersonsResponse"/>
<xs:complexType name="getPersons">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getPersonsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personVO"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="personVO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="person" nillable="true" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="dob" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersons">
    <wsdl:part element="tns:getPersons" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonsResponse">
    <wsdl:part element="tns:getPersonsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonWebService">
    <wsdl:operation name="getPersons">
      <wsdl:input message="tns:getPersons" name="getPersons">
    </wsdl:input>
      <wsdl:output message="tns:getPersonsResponse" name="getPersonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonWebServiceServiceSoapBinding" type="tns:PersonWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPersons">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPersons">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonWebServiceService">
    <wsdl:port binding="tns:PersonWebServiceServiceSoapBinding" name="PersonWebServicePort">
      <soap:address location="http://localhost:8080/CalcWebService/PersonWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>